.discotheque-wrapper {
    margin-left: 100px; font: 18px/1.5 sans-serif;
}

.chanson-wrapper{
    margin-left: 100px; font: 18px/1.5 sans-serif;
    display: flex;
    flex-direction: row;
}

.chansonInfo{
    display: flex;
    flex-direction: column;
}

#discoResult{
    display: flex;
    flex-direction: row;
}
.artistResult{
    padding: 20px;
}
.albumResult{
    padding: 20px;
}
.chansonResult{
    padding: 20px;
}
.cover{
    max-width: 100%;
    max-height: 200px;
}

.example-wrapper code {
    background: #F5F5F5; padding: 2px 6px;
}