.discotheque-wrapper {
    margin-left: 100px; font: 18px/1.5 sans-serif;
}

.chanson-wrapper{
    margin-left: 100px; font: 18px/1.5 sans-serif;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}

h1{
    margin: 0;
}

p{
    margin: 5px;
}

.chansonInfo{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#discoResult{
    display: flex;
    flex-direction: row;
}
.artistResult{
    padding: 20px;
}
.albumResult{
    padding: 20px;
}
.chansonResult{
    padding: 20px;
}
.cover{
    max-width: 100%;
    max-height: 200px;
}

.coverDetail{
    max-width: 100%;
    max-height: 300px;
    display: flex;
    justify-content: center;
}

.example-wrapper code {
    background: #F5F5F5; padding: 2px 6px;
}